h1 {
    text-align: center;
}
.table {
    text-align: center;
}
.table td {
    padding: 2px 5px 2px 5px;
}
#controls {
    text-align: center;
}
.alerts {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.alert {
  padding: 0;
  margin: 0;
}
#everything {
  padding-bottom: 20px;
}
