<!DOCTYPE HTML>
<html ng-app="sandwich" ng-controller="MyCtrl">
    <head>
        <title>Sandwich File Sharing</title>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/underscore.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-notify.js"></script>
        <script type="text/javascript" src="/static/js/angular.js"></script>
        <script type="text/javascript" src="/static/js/ng-infinite-scroll.js"></script>
        <script type="text/javascript" src="/static/js/sandwich.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    </head>
    <body>
      <h1>What's in the Sandwich?</h1>
      <div class="notifications top-right"></div>
      <div id="controls" class="container">
        <form ng-submit="fetchSearchFiles(search,regex)">
          <div class="input-append">
            <label><input type="checkbox" ng-model="regex">Regex Search</label>
            <input type="text" ng-model="search" placeholder="Search...">
            <input type="submit" value="Submit" class="btn">
          </div>
        </form>
      </div>
      <div id="everything" class="container">
        <div class="row">
          <div id="peers" class="span2">
            <table>
              <tr ng-repeat="peer in peerList | orderBy: 'IP'">
                <td><a href="#peerFiles" ng-click="fetchPeerFiles('', peer['IP'], peer['Port'])">{{peer['IP']}}</a></td>
              </tr>
            </table>
          </div>
          <div id="content" class="span10" infinite-scroll="loadMore()" infinite-scroll-disabled="loading">
            <table class='table' ng-show="isFileSearch">
              <thead>
                <tr>
                  <th>IP</th>
                  <th>Filename</th>
                  <th>Sandwich Download</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in searchFiles">
                  <td>{{file['IP']}}</td>
                  <td>
                    <a href="{{fileUrl(file['FileName'], file['IP'], file['Port'])}}">{{file['FileName']}}</a>
                  </td>
                  <td>
                    <a href='#download' ng-click="downloadFile(file['IP'], file['FileName'], 1)">Download</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class='table' ng-show="isPeerSearch">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>File/Folder</th>
                  <th>Sandwich Download</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="peerPath">
                  <td><a href="#openFolder" ng-click="fetchPeerFiles(peerUpPath())">..</a></td>
                </tr>
                <tr ng-repeat"file in peerFiles">
                  <td ng-if="!file['Type']">
                    <a href="#openFolder" ng-click="fetchPeerFiles(file['Name'])">{{file['Name']}}</a>
                  </td>
                  <td ng-if"file['Type']">
                    <a href="{{fileUrl(file['Name'])}}">{{file['Name']}}</a>
                  </td>
                  <td>{{file['Type']}}</td>
                  <td>
                    <a href="#download" ng-click="downloadFile(file['IP'], file['FileName'], file['Type'])">Download</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div ng-show="loading">Loading...</div>
            <div ng-show="gotAll">That's all of em. You've reached the bottom.</div>
            <div ng-show="!gotAll && !loading && (isFileSearch || isPeerSearch)">Keep scrolling down to see more results.</div>
          </div>
        </div>
      </div>
    </body>
  </html>
