<!DOCTYPE HTML>
<html ng-app="sandwich" ng-controller="MainCtrl">
    <head>
        <title>Sandwich File Sharing</title>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/angular.js"></script>
        <script type="text/javascript" src="/static/js/ng-infinite-scroll.js"></script>
        <script type="text/javascript" src="/static/js/angular-strap.js"></script>
        <script type="text/javascript" src="/static/js/sandwich.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/sandwich.css">
        <script type="text/ng-template" id="settings.html">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Settings</h3>
            </div>
            <div class="modal-body">
              <button class="btn" type="button" ng-click="killServer() && hide()">Kill</button>
              <br />
              <label>Local Server Port</label>
              <input type="text" ng-model="settings.port">
              <br />
              <label>Sandwich Directory Name</label>
              <input type="text" ng-model="settings.dir">
              <br />
              <label>Open Browser on Startup</label>
              <input type="checkbox" ng-model="settings.openBrowser">
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn btn-primary" ng-click="saveSettings();hide()">Save changes</button>
            </div>
          </div>
        </script>
    </head>
    <body>
      <div class="alerts">
        <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      </div>
      <h1>What's in the Sandwich?</h1>
      <div id="controls" class="container">
        <button type="button" class="btn" bs-modal="'settings.html'">Settings</button>
        <span>{{version}}</span>
        <form ng-submit="fetchSearchFiles(search,checkbox.regex)">
          <div class="input-append">
            <div class="btn-group" bs-buttons-checkbox>
              <button type="button" class="btn" ng-model="checkbox.regex">
                {{checkbox.regex ? "Regex" : "Plain Text"}}
              </button>
            </div>
            <input type="text" ng-model="search" placeholder="Search...">
            <input type="submit" value="Submit" class="btn">
          </div>
        </form>
      </div>
      <div id="everything" class="container">
        <div class="row">
          <div class="span2">
            <table>
              <tr ng-repeat="peer in peerList | orderBy: 'IP'">
                <td><a href="#" ng-click="fetchPeerFiles('', peer.IP, peer.Port)">{{peer.IP}}</a></td>
              </tr>
            </table>
          </div>
          <div id="content" class="span10" infinite-scroll="loadMore()" infinite-scroll-disabled="loading">
            <table class='table' ng-show="isPeerSearch">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>File/Folder</th>
                  <th>Sandwich Download</th>
                  <th>{{peerFiles}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="peerPath">
                  <td><a href="#openFolder" ng-click="fetchPeerFiles(peerUpPath(peerPath))">..</a></td>
                </tr>
                <tr ng-repeat="file in peerFiles">
                  <td ng-show="!file.Type">
                    <a href="#openFolder" ng-click="fetchPeerFiles(file.Name)">{{file.Name}}</a>
                  </td>
                  <td ng-show="file.Type">
                    <a href="{{fileUrl(file.Name)}}">{{file.Name}}</a>
                  </td>
                  <td>{{file.Type}}</td>
                  <td>
                    <a href="#download" ng-click="downloadFile(peerIP, file.Name, file.Type)">Download</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class='table' ng-show="isFileSearch">
              <thead>
                <tr>
                  <th>IP</th>
                  <th>Filename</th>
                  <th>Sandwich Download</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in searchFiles">
                  <td>{{file.IP}}</td>
                  <td>
                    <a href="{{fileUrl(file.FileName, file.IP, file.Port)}}">{{file.FileName}}</a>
                  </td>
                  <td>
                    <a href='#download' ng-click="downloadFile(file.IP, file.FileName, 1)">Download</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div ng-show="loading">Loading...</div>
            <div ng-show="gotAll">That's all of em. You've reached the bottom.</div>
            <div ng-show="!gotAll && !loading && (isFileSearch || isPeerSearch)">Keep scrolling down to see more results.</div>
          </div>
        </div>
      </div>
    </body>
  </html>
