<!DOCTYPE HTML>
<html>
    <head>
        <title>Sandwich File Sharing</title>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    </head>
    <body>
        <h1>What's in the Sandwich?</h1>
        <div class="notifications top-right"></div>
        <div id="controls" class="container">
          <button class="btn" type="button" id="killbtn">Kill</button>
          <form action="/search" id="query_form">
            <div class="input-append">
              <label><input type="checkbox" name="regex">Regex Search</label>
              <input type="text" name="search" placeholder="Search...">
              <input type="submit" value="Submit" class="btn">
            </div>
          </form>
        </div>
        <div id="everything" class="container">
            <div class="row">
                <div id="content" class="span12">
                </div>
            </div>
        </div>
    </body>
</html>
